fastapi #  web framework
uvicorn # runs the FastAPI app
sqlalchemy # helps Python talk to SQLite
python-jose[cryptography] # handles login tokens
python-multipart # handles form submissions
scikit-learn # ML library
pandas # handling CSV datase
joblib # saves and loads ML model
pytest # runs tests
httpx # needed by pytest to test FastAPI 
bcrypt==4.0.1 # encrypts passwords